.env
.env.local
.env.*.local
*.iml
.gradle
.idea
.DS_Store
build/
dist/
.dart_tool/
.packages
pubspec.lock
coverage/
.nyc_output/
node_modules/
*.log
.vscode
.idea
.vscode/launch.json
.idea/runConfigurations
.history
